.services__container{
    grid-column: center-start / center-end;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    justify-content: center;
}

@media screen and (min-width: 1450px){
    .services__container{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}



.services-header{
    grid-row: 1 / 1;
    grid-column: 1 / -1;
}

@media screen and (max-width: 350px){
    .services-header{
        margin-left: 2rem;
    }
}

/* Service styles */

.service{
    text-align: center;
    padding: 1rem;
    background-color: rgb(52, 52, 54);
    box-shadow: 1.5px 1.5px 1.5px rgb(52, 52, 54);
}

.service > .fas{
    color: var(--primary-color);
    font-size: 2rem;
    margin: 1rem;
}

.service div{
    margin: .5rem 1.5rem 1rem -1.5rem;
    color: rgb(202, 202, 202);
}

.service p{
    margin: 1rem;
    color: rgb(185, 184, 184);
}

.service .fas.fa-circle{
    vertical-align: super;
}

.dots-mod{
    margin-right: -.09rem;
    font-size: .5rem;
    vertical-align: super;
    color: var(--primary-color);
} 

@media screen and (max-width: 365px){
    .dots-mod{
        font-size: .45rem;
    }
}

.service-type{
    font-size: 1.1rem;
    margin-left: .5rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 365px){
    .service-type{
        font-size: 1rem;
    }
}