.project__container{
    grid-column: center-start / center-end;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, minmax(min-content, 100%)); 
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    
}

@media screen and (max-width: 800px){
    .project__container {
     grid-template-columns: repeat(4, minmax(min-content, 1fr));
    } 
 }

 @media screen and (max-width: 600px){
    .project__container {
        grid-template-rows: repeat(6, minmax(min-content, max-content));
    } 
 }



.project-header {
    grid-row: 1 / 1;
    grid-column: 1/ -1;
}

/* =============== screens below 800px project cards ======================= */
@media screen and (max-width: 800px){
   
.project:nth-child(2) { 
    grid-column: span 2;
    grid-row: 2 / 2;

}

.project:nth-child(3) { 
    grid-column: span 2;
    grid-row: 2 / 2;

}

.project:nth-child(4) { 
    grid-column: span 2;
    grid-row: 3 / 3;

}

.project:nth-child(5) { 
    grid-column: span 2;
    grid-row: 3 / 3;

}

.project:nth-child(6) { 
    grid-column: span 2;
    grid-row: 4 / 4;

}

.project:nth-child(7) { 
    grid-column: span 2;
    grid-row: 4 / 4;

}
}

/* =============== screens below 600px project cards ======================= */
@media screen and (max-width: 600px){
   
    .project:nth-child(2) { 
        grid-column: span 5;
        grid-row: 2 / 2;
    
    }
    
    .project:nth-child(3) { 
        grid-column: span 5;
        grid-row: 3 / 3;
    
    }
    
    .project:nth-child(4) { 
        grid-column: span 5;
        grid-row: 4 / 4;
    
    }
    
    .project:nth-child(5) { 
        grid-column: span 5;
        grid-row: 5 / 5;
    
    }
    
    .project:nth-child(6) { 
        grid-column: span 5;
        grid-row: 6 / 6;
    
    }
    
    .project:nth-child(7) { 
        grid-column: span 5;
        grid-row: 7 / 7;
    
    }
    }


.project-img{
    display: inline-block;
    width: 100%;
    border-radius: 2px;
}

.project {
    box-shadow: 1px 1px 3px rgb(128, 126, 126);
    width: 100%;
}
