.skills__container{
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    grid-row-gap: 2rem;
}

.skills-header{
    grid-column: 1/ -1;
    grid-row: 1 / 1;
}

.skills{
    grid-column: 1/ -1;
    grid-row: 2 / 2;
    background-color: rgb(52, 52, 54);
    box-shadow: 1.5px 1.5px 1.5px rgb(52, 52, 54);
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1000px){
    .skills{
        grid-template-rows: repeat(2, minmax(min-content, max-content));
    }
}


.skills--tech{
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}

@media screen and (max-width: 1000px){
    .skills--tech{
        grid-template-rows: repeat(3, minmax(min-content, max-content));
    }
}

@media screen and (max-width: 511px){
    .skills--tech{
        grid-column: 1 / -1;
    }
}

.fas.fa-cogs{
    justify-self: center;
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem;
    color: rgb(190, 190, 190);
    grid-column: 1/ -1;
    grid-row: 1 / 1;
}

@media screen and (max-width: 653px){
    .fas.fa-cogs{
        font-size: 1.3rem;
    }
   
}

@media screen and (max-width: 600px){
    .fas.fa-cogs{
        font-size: 1rem;
    }
   
}

@media screen and (max-width: 511px){
    .fas.fa-cogs{
        font-size: 1.5rem;
    }
   
}


.sub--text{
    color: rgb(190, 190, 190);
}

.skills--tech .tech--01{
    display: flex;
    flex-direction: column;
    grid-column: 1/ 1;
    grid-row: 2 / 2;
}

@media screen and (max-width: 1000px){
    .skills--tech .tech--01{
        grid-column: 1/ -1;
        grid-row: 2 / 2;
    }
}

.skills--tech .tech--02{
    display: flex;
    flex-direction: column;
    grid-column: 2/ 2;
    grid-row: 2 / 2;
}

@media screen and (max-width: 1000px){
    .skills--tech .tech--02{
        grid-column: 1/ -1;
        grid-row: 3 / 3;
        margin-left: -1.5rem;
    }
}

.skills--tech .num{
    color: rgb(167, 165, 165);
    font-size: 1rem;
}

@media screen and (max-width: 1030px){

    .skills--tech .num{
        font-size: .95rem;
    }
}

@media screen and (max-width: 600px){

    .skills--tech .num{
        font-size: .8rem;
    }
}

@media screen and (max-width: 511px){

    .skills--tech .num{
        font-size: 1rem;
    }
}



.skills--tech .num .fas{
    vertical-align: middle;
    margin-right: .2rem;
}

.middle--dots{
    vertical-align: super;
    margin: .5rem;
    color: rgb(94, 94, 94);
    font-size: .6rem;
}

.skills--tech .fab{
    color: #2DA8D8FF;
    margin: .4rem;
}

.skills--tech .fas.fa-sitemap{
    color: #2DA8D8FF;
    margin: .4rem;
}

/* ===================================== Other skills ============================ */
.skills--other{
    align-self: start;
    justify-self: center;
}

@media screen and (max-width: 511px){
    .skills--other{
        align-self: start;
        justify-self: center;
        grid-column: 1 / -1;
        grid-row: 2 / 2;
    }
}


.skills--other .other{
    display: flex;
    flex-direction: column;
    margin-top: .8rem;
}


.skills--other .num{
    color: rgb(167, 165, 165);
    font-size: 1rem;
}

@media screen and (max-width: 600px){

    .skills--other .num{
        font-size: .8rem;
    }
}

@media screen and (max-width: 511px){

    .skills--other .num{
        font-size: 1rem;
    }
}



.skills--other .num .fas{
    vertical-align: middle;
    margin-right: .2rem;
}


.skills--other .fab{
    color: #2DA8D8FF;
    margin: .4rem;
}


.skills--other .fas{
    color: #2DA8D8FF;
    margin: .4rem;
}

/* Other text and icon */
.fas.fa-code-branch{
    justify-self: center;
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem;
    color: rgb(190, 190, 190);
}

@media screen and (max-width: 653px){
    .fas.fa-code-branch{
        font-size: 1.3rem;

    }
}

@media screen and (max-width: 600px){
    .fas.fa-code-branch{
        font-size: 1rem;

    }
}

@media screen and (max-width: 511px){
    .fas.fa-code-branch{
        font-size: 1.5rem;

    }
}



