/*
colors;
--primary-color:  Blue Blossom (#2DA8D8FF);
--secondary-color: Tap Shoe (#2A2B2DFF);
--call-to-action: Danger Red (#D9514EFF);
Danger Red (#D9514EFF), Tap Shoe (#2A2B2DFF) and Blue Blossom (#2DA8D8FF)

fonts;
 Montserrat & Courier New */

.App {
  width: 100%;
  display: grid;
  grid-template-rows: 95vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  grid-row-gap: 5rem;

}

 
