/*
colors;
--primary-color:  Blue Blossom (#2DA8D8FF);
--secondary-color: Tap Shoe (#2A2B2DFF);
--call-to-action: Danger Red (#D9514EFF);
Danger Red (#D9514EFF), Tap Shoe (#2A2B2DFF) and Blue Blossom (#2DA8D8FF)

fonts;
 Montserrat & Courier New */

.App {
  width: 100%;
  border: 1px solid red;
  display: grid;
  grid-template-rows: 80vh 40vw repeat(5, min-content);
  grid-template-columns: 1fr repeat(8, minmax(min-content, 14rem)) 1fr;

}

 
