/* global reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:link,
*:visited{
  text-decoration: none;
}

*:active,
*:hover{
  text-decoration: none;
  border: none;
  outline: none;
}
  
 button:focus {outline:0;}
 input:focus {outline:0;}


/* ========================== END OF RESET =================================*/
/* =========================== Color Variables ==============================*/

:root{
  --primary-color: #2DA8D8FF;
  --secondary-color: #2A2B2DFF;
  --cta-color: #D9514EFF;
  --text-color: rgb(219, 219, 219);;
}

/* ============================= end of Color Variables =======================*/
body {
  margin: 0;
  line-height: 1.4;
  font-size:  62.5%;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url('./components/resources/main-background.png'), linear-gradient(var(--secondary-color) , var(--secondary-color));
  background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 0 auto;
}

/* headings */
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
}

h2{
font-size: 2.1rem;
}

h3{
font-size: 1.7rem;
}

h4{
font-size: 1.3rem;
}
/* =================== end ============= */

/* paragraphs */
p{
  font-family: 'Lora', serif;
  font-size: 1rem;
  color: var(--text-color);
}


/* =========== end ================*/

.btn{
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 2px;
  background-color: var(--cta-color);
  color: var(--text-color);
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color, color .3s ease-in-out;
}

.btn:hover{
  background-color: rgb(214, 56, 54);
  color: white;
}


