/* global reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:link,
*:visited,
.link{
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
}

*:active,
*:hover,
.link{
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}

  
 button:focus {outline:0;}
 input[type=text]:focus,
 input[type=email]:focus,
 textarea:focus{border: .5px solid var(--primary-color); outline: none;}
 input[type="text"], 
 input[type="email"], 
 textarea{color: rgb(190, 190, 190); background-color: transparent; font-size: 1rem;}
 textarea{
  font-size: 1.5rem;
}
 html,body{box-sizing: border-box; scroll-behavior: smooth; scrollbar-track-color: var(--secondary-color); scrollbar-shadow-color: inset 0 0 5px grey; scrollbar-color: var(--primary-color);}

/* ========================== END OF RESET =================================*/

/* =========================== Color Variables ==============================*/

:root{
  --primary-color: #2DA8D8FF;
  --secondary-color: #2A2B2DFF;
  --cta-color: #D9514EFF;
  --text-in-light-grey-bg: rgb(134, 134, 134);
  --text-color: rgb(219, 219, 219);
  --lighter-secondary-color: rgb(73, 74, 78);
}

/* ============================= end of Color Variables =======================*/

/* ================ custom general styles for elements ====================*/
body {
  margin: 0;
  line-height: 1.4;
  font-size: 62.5%; 
  overflow-x: hidden;
  color: var(--text-color);
  font-family: 'Lora', serif;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

body::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  /* background-image: url('./components/resources/main-background.png'), -webkit-linear-gradient(to bottom,#2A2B2DFF, #2A2B2DFF);
  background-image: url('./components/resources/main-background.png'), -moz-linear-gradient(to bottom,#2A2B2DFF, #2A2B2DFF);
  background-image: url('./components/resources/main-background.png'), -o-linear-gradient(#2A2B2DFF, #2A2B2DFF);
  background-image: url('./components/resources/main-background.png'), -webkit-gradient(linear, left top, right top, color-stop(100%, #2A2B2DFF), color-stop(100%,#2A2B2DFF), color-stop(100%,#2A2B2DFF));
  */
  background-image: url('./components/resources/main-background.png');
  background-repeat: repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  z-index: -1;
}


.container {
  margin: 0 auto;
}

/* headings */
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
}

h2{
font-size: 2.1rem;
}

h3{ 
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--primary-color);
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px){
  h3{ 
      font-size: 1.3rem;
  
  }
}

@media screen and (max-width: 550px){
  h3{ 
      font-size: 1rem;
  
  }
}

@media screen and (max-width: 460px){
  h3{ 
      font-size: .9rem;
  
  }
}

@media screen and (max-width: 420px){
  h3{ 
    margin-left: 1rem;
  
  }
}

h3::after{
  content: "";
  position: absolute;
  left: -2.5rem;
  bottom: 0;
  width: 110px;
  height: 100%;
  border: 1px dotted var(--lighter-secondary-color);
  background-color: rgb(52, 52, 54);
  border-right: none;
  z-index: -1;
}


@media screen and (max-width: 600px){
  h3::after{ 
    width: 95px;
  
  }
}


@media screen and (max-width: 420px){
  h3::after{ 
    width: 85px;
  
  }
}


h4{
font-size: 1.3rem;
}
/* =================== end of general heading styles ============= */

/* paragraphs */
p{
  font-family: 'Lora', serif;
  font-size: 1rem;
  color: var(--text-color);
}


/* =========== end of general paragraph styles ================*/

/* ======================= end of general elements custom styles ============== */

.btn{
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 2px;
  background-color: var(--cta-color);
  color: var(--text-color);
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(190, 43, 41);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
    z-index: -1;
}

.btn:hover::after{
  transform: scaleX(1);
  transform-origin: left;
  
}

/* ========== custom scrollbar ==================== */
::-webkit-scrollbar{
  width: 15px;
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2DA8D8FF;
  border-radius: 100px;
}


/* ================================= specials ====================== */
.dots{
  display: inline-block;
  color: var(--lighter-secondary-color);
  font-size: 1rem;
  margin: 0 .2rem 1rem .7rem;
  vertical-align: middle;
}

.fas.fa-circle{
  font-size: .3rem;
  color: var(--primary-color);
  border: 1px solid var(--lighter-secondary-color);
  padding: .1rem;
  border-radius: 50%;
  
}

.num{
  font-size: 1.15rem;
  display: inline-block;
  color: var(--lighter-secondary-color);
  font-weight: bolder;
  vertical-align: middle;
  margin: 0 0 .5rem .5rem;
  
}

@media screen and (max-width: 370px){
  .num{ 
    font-size: .9rem;
  
  }
}

.fas.fa-cog{
  color: var(--primary-color);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

/* ======================= end of specials ================ */
  




